@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



body,
html {
	width: 100%;

	background-color: #1e1414;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}




h1 {
	font-size: 24px;
	font-weight: bold;

}

p {
	font-size: 18px;
	margin-bottom: 10px;
}

span {
	font-weight: bold;
}



#perqindja-amount {
	font-size: 24px;
	color: #8c0d0d;
	font-weight: bold;

}

input {
	touch-action: manipulation;
}

.first-section {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1e1414;
	margin-top: 20px;

}

.form-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.center {
	background-color: rebeccapurple;
}

.center label {
	font-weight: bolder;
}

.center input {
	background-color: #ffffff;
	border-radius: 10px;
	text-align: center;

	font-weight: 700;
	border: 1px solid #000000;
	height: 50px;
	font-size: 30px;

	display: flex;
}

.center button:hover {
	background-color: #ffffff;
	color: #000000;
}

.center button {
	padding: 5px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 10px;
}

.center p {
	font-weight: 700;
}

/* calculator */

.calculator {
	width: 240px;
	background-color: #eee;
	border-radius: 10px;
	margin: 20px auto;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.output {
	width: 100%;
	height: 60px;
	font-size: 36px;
	text-align: right;
	border: none;
	padding: 10px;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #000000;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
}

.buttonss {
	width: 60px;
	height: 60px;
	font-size: 24px;
	border: none;
	background-color: #fff;
	color: #333;
	outline: none;
	cursor: pointer;
	border: 1px solid #000000;
}

.operator {
	background-color: #f2a73b;
	color: #fff;
}

.zero {
	width: 120px;
}

button:active {
	transform: translateY(2px);
	box-shadow: none;
}